<div class="card m-3" style="width: 20rem">
  <div class="card-body">
    <h5 class="card-title"><%= student.nama %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Umur: <%= student.umur %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Hobi: <%= student.hobi %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Asal Sekolah: <%= student.sekolah%></h6>
    <h6 class="card-subtitle mb-2 text-muted">Nomer Hp: <%= student.noHp %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Email: <%= student.email %></h6>
    <p class="card-text">Alasan Mengikuti Les di Lemon: <%= student.alasanLes %></p>
    <a href="/siswa" class="card-link">Kembali</a>
    <a href="/siswa/edit/<%= student.nama %>" class="btn btn-warning mx-3">Edit</a>
    <form action="/siswa?_method=DELETE" method="post" class="d-inline">
      <input type="hidden" name="id" value="<%= student._id %>" />
      <button type="submit" class="btn btn-danger" onclick="return confirm(`Anda yakin akan menghapus <%= student.nama %>?`)">Hapus</button>
    </form>
  </div>
</div>
